@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Slackside+One&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  min-height: 100vh;
}

body {
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  min-height: 100vh;
  color: #213547;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  display: inline-block;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  max-width: 1260px;
  padding: 0 25px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.alignCenter {
  text-align: center;
}

.gradientOrange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc9b4c), to(#FF7400));
  background: -moz-linear-gradient(top, #fc9b4c, #FF7400);
  background-image: -o-linear-gradient(top, #fc9b4c, #FF7400);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  opacity: 0.9;
}

.gradientOrange:hover {
  opacity: 1;
  color: #fff;
}

.gradientOrange:focus-visible {
  -webkit-box-shadow: 0px 0px 14px 3px #9c8d8d;
  box-shadow: 0px 0px 14px 3px #9c8d8d;
}